div {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

p {
    font-size: 20px;
}

#quiz, #results {
    display: none;
}

button {
    margin: 8px 0px;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 8px;
}

.answer {
    background-color: white;
}

#submit {
    background-color: lightblue;
    margin-top: 16px;
}

input {
    display: none;
    margin-bottom: 8px;
}